@import url('reset.css');

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
/* fonts css */

body {
    font-size: 16px;
}


/* section9 */

/* section9 background */
.sec9_bg {
    position: relative;
    height: 100vh;
    background: #1d2758;
    overflow: hidden;
    z-index: -2;
}
/* section9 background end */

/* secton2 cloud anime */
.clouds {
    height: 25vh;
    animation: clouds 2.5s ease-in-out infinite;
    z-index: -1;
}
.cloudbox {
    float: left;
    width: 16.66%;
    height: 25vh;
    /* background: pink; */
}
.cloudbox>img {
    display: block;
    margin: 0 auto;
}


.cloud1>img {
    width: 5.25vw;
    margin-top: 10%;
}
.cloud2>img {
    width: 8.5vw;
    margin-top: 25%;
}
.cloud3>img {
    width: 4.7vw;
    margin-top: 20%;
}
.cloud4>img {
    width: 9.45vw;
    margin-top: 30%;
}
.cloud5>img {
    width: 5.25vw;
    margin-top: 18%;
}
.cloud6>img {
    width: 6.8vw;
    margin-top: 15%;
}

@keyframes clouds {
    0% { transform: translateY(-5px);}
    50% { transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}
/* section2 clound anime end */

/* section2 chasing anime */
.anime_container {
    position: absolute;
    bottom: -5vh;
    width: 100%;
}
.ground_brick>img {
    width: 100%;
}

.castle_wrap {
    position: absolute;
    bottom: 80px;
    /* background: green; */
    z-index: -1;
}
.castle>img {
    width: 350px;
}
.castle_flag>img {
    width: 70px;
}