@import url('reset.css');

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
/* fonts css */

body {
    font-size: 16px;
}


/* section9 */

/* section9 background */
.sec9_bg {
    position: relative;
    height: 100vh;
    background: #1d2758;
    overflow: hidden;
    z-index: -2;
}
/* section9 background end */

/* secton2 cloud anime */
.clouds {
    animation: clouds 2.5s ease-in-out infinite;
    z-index: -1;
}
.clouds>img {
    position: absolute;
    display: block;
}
.clouds>img:nth-child(1) {
    top: 5vh;
    left: -2%;
    width: 110px;
}
.clouds>img:nth-child(2) {
    top: 12vh;
    left: 12%;
    width: 180px;
}
.clouds>img:nth-child(3) {
    top: 6vh;
    left: 35%;
    width: 110px;
}
.clouds>img:nth-child(4) {
    top: 10vh;
    right: 35%;
    width: 150px;
}
.clouds>img:nth-child(5) {
    top: 10vh;
    right: 15%;
    width: 120px;
}
.clouds>img:nth-child(6) {
    top: 5vh;
    right: -3%;
    width: 140px;
}


@keyframes clouds {
    0% { transform: translateY(-5px);}
    50% { transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}
/* section2 clound anime end */

/* section2 chasing anime */
.anime_container {
    position: absolute;
    bottom: -5vh;
    width: 100%;
}
.ground_brick>img {
    width: 100%;
}
.castle_wrap {
    position: absolute;
    bottom: 12vh;
    right: 15vw;
    width: 24vw;
    /* background: green; */
    z-index: -1;
}
.castle>img {
    width: 24vw;
}
.castle_flag>img {
    position: absolute;
    top: -8vh;
    left: 9vw;
    width: 3.6vw;
    z-index: -1;
    animation: flag 1s linear;
}

@keyframes flag {
    from {top: 5vh;}
    to {top: -8vh;}
}


/* toad anime */
.toad_wrap {
    position: relative;
    bottom: 65px;
    left: 55vw;
}
.jumping_toad {
    position: absolute;
    width: 40px;
    opacity: 0;
    animation: j_toad 1s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.standing_toad {
    position: absolute;
    width: 40px;
    animation: s_toad 1s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes j_toad {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}
@keyframes s_toad {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
/* toad anime end */

/* peach anime */
.peach_wrap {
    position: relative;
    bottom: 93px;
    left: 70vw;
}
.left_peach {
    position: absolute;
    width: 50px;
    animation: l_peach 2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.front_peach {
    position: absolute;
    width: 50px;
    opacity: 0;
    animation: f_peach 2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes l_peach {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
@keyframes f_peach {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}
/* peach anime end */


/* luigi anime */
.luigi_wrap {
    position: relative;
    bottom: 60px;
    left: 80vw;
}
.jumping_luigi {
    position: absolute;
    bottom: 0;
    width: 58px;
    opacity: 0;
    animation: j_luigi 0.8s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.standing_luigi {
    position: absolute;
    width: 60px;
    animation: s_luigi 0.8s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes j_luigi {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}
@keyframes s_luigi {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
/* luigi anime end */




.e_bm_wrap {
    position: relative;
    bottom: 75px;
    left: 66vw;
    animation: e_m_move 5s linear;
}

@keyframes e_m_move {
    from {left: -10vw;}
    to {left: 66vw}
}

.e_bm {
    position: absolute;
    width: 40px;
    transform:scaleX(-1);
}

.e_bm_run1 {
    animation: m_run1 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.e_bm_run2 {
    opacity: 0;
    animation: m_run2 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.e_bm_run3 {
    opacity: 0;
    animation: m_run3 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes m_run1 {
    0% {opacity: 1;}
    33.33% {opacity: 0;}
    66.66% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes m_run2 {
    0% {opacity: 0;}
    33.33% {opacity: 1;}
    66.66% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes m_run3 {
    0% {opacity: 0;}
    33.33% {opacity: 0;}
    66.66% {opacity: 1;}
    100% {opacity: 0;}
}