@import url('reset.css');

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
/* fonts css */

body {
    font-size: 16px;
}


/* section1 */

/* section background */
.sec1_bg {
    position: relative;
    height: 100vh;
    background-image: url(../images/title_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* section1 background end */

/* section1 title */
.sec1_title_wrap {
    width: 100%;
    /* background: gold; */
    padding-top: 8vh;
}

.sec1_titlebox {
    background: #e20706;
    border: 20px solid #fff;
    margin: 0 auto;
    padding: 2% 0;
    /* white-space: nowrap; */
}
.sec1_txt_wrap {
    margin: 0 auto; 
    /* background: #000; */
}
.sec1_title1>h1 {
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;  
    letter-spacing: 5px;
    white-space: nowrap;
    float: left;
}
.sec1_title2>h1 {
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;
    letter-spacing: 5px;
}
/* section1 title end */

/* section1 scrolldown */
.sec1_scrolldown {
    position: absolute;
    bottom: 10vh;
}
.sec1_scrolldown>p {
    opacity: 0%;
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    animation: scrolldown 1.7s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes scrolldown {
    0% {opacity: 0%;}
    50%{opacity: 100%;} 
    100% {opacity: 0%;}
}
/* section1 scrolldown end */






/* section1 end */





/* section 2 */

.sec2_bg {
    position: relative;
    height: 100vh;
    background: #7286f7;
    overflow: hidden;
    z-index: -2;
}

.clouds {
    /* position: absolute;
    top: 0; */
    height: 25vh;
    animation: clouds 2.5s ease-in-out infinite;
    z-index: -1;
}
.cloudbox {
    float: left;
    width: 16.66%;
    height: 25vh;
    /* background: pink; */
}
.cloudbox>img {
    display: block;
    margin: 0 auto;
}


.cloud1>img {
    width: 100px;
    margin-top: 10%;
}
.cloud2>img {
    width: 160px;
    margin-top: 25%;
}
.cloud3>img {
    width: 90px;
    margin-top: 20%;
}
.cloud4>img {
    width: 180px;
    margin-top: 30%;
}
.cloud5>img {
    width: 100px;
    margin-top: 18%;
}
.cloud6>img {
    width: 130px;
    margin-top: 15%;
}

@keyframes clouds {
    0% { transform: translateY(-5px);}
    50% { transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}

.sec2_txtbox {
    position: relative;
    width: 100%;
}
.sec2_txtbox>img {
    position: absolute;
    top: -8vh;
    left: 50%;
    width: 60%;
    display: block;
    transform: translateX(-50%);
    
}


.anime_container {
    position: absolute;
    bottom: -5vh;
    width: 100%;
    /* background: gray; */
}

.ground_brick>img {
    width: 100%;
}

.goomba_run {
    float: left;
    width: 50px;
    height: 80px;
    /* background: green; */
    animation: g_move 20s linear infinite;
}

.goomba {
    position: absolute;
    bottom: 0;
    width: 50px;
}
.g_run1 {
    animation: g_run1 0.25s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.g_run2 {
    opacity: 0;
    animation: g_run2 0.25s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes g_move {
    0%  {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(-1000px);
    }
}

@keyframes g_run1 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes g_run2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* goomba_run end */

.mario_run {
    width: 50px;
    height: 80px;
    /* background: green; */
    animation: m_move 20s linear infinite;
}

@keyframes m_move {
    0%  {
        transform: translateX(-850px);
    }
    50% {
        transform: translateX(2250px);
    }
    100% {
        transform: translateX(-850px);
    }
}

.sm_wrap {
    position: absolute;
    bottom: 0;
    animation: sm_opacity 20s linear infinite;
}

@keyframes sm_opacity {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

.sm {
    position: absolute;
    bottom: 0;
    width: 50px;
}
.sm_run1 {
    animation: m_run1 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.sm_run2 {
    opacity: 0;
    animation: m_run2 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.sm_run3 {
    opacity: 0;
    animation: m_run3 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

.bm_wrap {
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: bm_opacity 20s infinite;
}

@keyframes bm_opacity {
    0% {opacity: 0;}
    49% {opacity: 0;}
    50% {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}

.bm {
    position: absolute;
    bottom: 0;
    width: 40px;
}

.bm_run1 {
    animation: m_run1 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.bm_run2 {
    opacity: 0;
    animation: m_run2 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.bm_run3 {
    opacity: 0;
    animation: m_run3 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes m_run1 {
    0% {opacity: 1;}
    33.33% {opacity: 0;}
    66.66% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes m_run2 {
    0% {opacity: 0;}
    33.33% {opacity: 1;}
    66.66% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes m_run3 {
    0% {opacity: 0;}
    33.33% {opacity: 0;}
    66.66% {opacity: 1;}
    100% {opacity: 0;}
}

/* mario_run end */



/* chasing_anime end */

/* section2 end */



/* section3 */

.sec3_bg {
    background: #1e3996;
}
.sec3_pattern {
    width: 100%;
    padding: 500px 0;
    background-image: url(../images/page3_bg_mushroom2.png);
    background-size: 100px 100px;
    opacity: 30%;
    animation: move 150s linear infinite;
}

@keyframes move {
    0% {background-position: 0 2000px;}
    100% {background-position: 2000px 0;}
}

/* sec3_bg end */






