@import url('reset.css');

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
/* fonts css */

body {
    font-size: 16px;
}
#fp-nav ul li a span {
    background: #fff;
}


/* section1 */

/* section background */
.sec1_bg {
    position: relative;
    height: 100vh;
    background-image: url(../images/title_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* section1 background end */

/* section1 title */
.sec1_title_wrap {
    width: 100%;
    /* background: gold; */
    padding-top: 8vh;
}
.sec1_titlebox {
    background: #e20706;
    border: 20px solid #fff;
    margin: 0 auto;
    padding: 2% 0;
    /* white-space: nowrap; */
}
.sec1_txt_wrap {
    margin: 0 auto;
    /* background: #000; */
}
.sec1_title1>h1 {
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;  
    letter-spacing: 5px;
    white-space: nowrap;
    float: left;
}
.sec1_title2>h1 {
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;
    letter-spacing: 5px;
}
/* section1 title end */


/* section1 scrolldown */
.sec1_scrolldown {
    position: absolute;
    bottom: 10vh;
}
.sec1_scrolldown>p {
    opacity: 0%;
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    animation: scrolldown 1.7s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes scrolldown {
    0% {opacity: 0%;}
    50%{opacity: 100%;} 
    100% {opacity: 0%;}
}
/* section1 scrolldown end */

/* section1 end */

/* section2 */

/* section2 background */
.sec2_bg {
    position: relative;
    height: 100vh;
    background: #7286f7;
    overflow: hidden;
    z-index: -2;
}
/* section2 background end */

/* secton2 cloud anime */
.clouds {
    height: 25vh;
    animation: clouds 2.5s ease-in-out infinite;
    z-index: -1;
}
.cloudbox {
    float: left;
    width: 16.66%;
    height: 25vh;
    /* background: pink; */
}
.cloudbox>img {
    display: block;
    margin: 0 auto;
}


.cloud1>img {
    width: 5.25vw;
    margin-top: 10%;
}
.cloud2>img {
    width: 8.5vw;
    margin-top: 25%;
}
.cloud3>img {
    width: 4.7vw;
    margin-top: 20%;
}
.cloud4>img {
    width: 9.45vw;
    margin-top: 30%;
}
.cloud5>img {
    width: 5.25vw;
    margin-top: 18%;
}
.cloud6>img {
    width: 6.8vw;
    margin-top: 15%;
}

@keyframes clouds {
    0% { transform: translateY(-5px);}
    50% { transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}
/* section2 clound anime end */

/* section2 txtbox */
.sec2_txtbox {
    position: relative;
    width: 100%;
}
.sec2_txtbox>img {
    position: absolute;
    top: -8vh;
    left: 50%;
    width: 60%;
    display: block;
    transform: translateX(-50%);
}
/* section2 txtbox end */

/* section2 chasing anime */
.anime_container {
    position: absolute;
    bottom: -5vh;
    width: 100%;
    /* background: gray; */
}
.ground_brick>img {
    width: 100%;
}

/* goomba run */
.goomba_run {
    float: left;
    width: 50px;
    height: 80px;
    /* background: green; */
    animation: g_move 20s linear infinite;
}

.goomba {
    position: absolute;
    bottom: 0;
    width: 50px;
}
.g_run1 {
    animation: g_run1 0.25s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.g_run2 {
    opacity: 0;
    animation: g_run2 0.25s infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes g_move {
    0%  {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(-1000px);
    }
}

@keyframes g_run1 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes g_run2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
/* goomba run end */

/* mario run */
.mario_run {
    width: 50px;
    height: 80px;
    /* background: green; */
    animation: m_move 20s linear infinite;
}

@keyframes m_move {
    0%  {
        transform: translateX(-850px);
    }
    50% {
        transform: translateX(2250px);
    }
    100% {
        transform: translateX(-850px);
    }
}

.sm_wrap {
    position: absolute;
    bottom: 0;
    animation: sm_opacity 20s linear infinite;
}

@keyframes sm_opacity {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

.sm {
    position: absolute;
    bottom: 0;
    width: 50px;
}
.sm_run1 {
    animation: m_run1 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.sm_run2 {
    opacity: 0;
    animation: m_run2 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.sm_run3 {
    opacity: 0;
    animation: m_run3 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

.bm_wrap {
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: bm_opacity 20s infinite;
}

@keyframes bm_opacity {
    0% {opacity: 0;}
    49% {opacity: 0;}
    50% {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}

.bm {
    position: absolute;
    bottom: 0;
    width: 40px;
}

.bm_run1 {
    animation: m_run1 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.bm_run2 {
    opacity: 0;
    animation: m_run2 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
.bm_run3 {
    opacity: 0;
    animation: m_run3 0.2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes m_run1 {
    0% {opacity: 1;}
    33.33% {opacity: 0;}
    66.66% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes m_run2 {
    0% {opacity: 0;}
    33.33% {opacity: 1;}
    66.66% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes m_run3 {
    0% {opacity: 0;}
    33.33% {opacity: 0;}
    66.66% {opacity: 1;}
    100% {opacity: 0;}
}
/* mario run end */

/* section2 chasing anime end */

/* section2 end */


/* section3 */

/* section3 background */
.sec3_bg {
    position: relative;
    background: #1e3996;
    height: 100vh;
}
.sec3_pattern {
    height: 100vh;
    background-image: url(../images/page3_bg_mushroom2.png);
    background-size: 100px 100px;
    opacity: 30%;
    animation: pattern 150s linear infinite;
}

@keyframes pattern {
    0% {background-position: 0 2000px;}
    100% {background-position: 2000px 0;}
}
 /* section3 background end */

  /* section3 mario jump anime */
  .mario_wrap {
    /* background: lightgray; */
    width: 160px;
    height: 240px;
    position: absolute;
    bottom: 0px;
    left: 3%;
    z-index: 999;
}
.mario_wrap:hover {
    cursor: pointer;
}

.jump_txt {
    position: absolute;
    bottom: 250px;
    left: 160px;
    width: 80px;
    height: 40px;
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    opacity: 0;
    animation: jump_txt 2s 2s linear infinite;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes jump_txt {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.mario {
    /* background: yellow; */
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.pipe {
    width: 160px;
}
.pipe>img {
    width: 160px;
    position: absolute;
    bottom: 0;
}
.standing_mario>img {
    width: 80px;
    position: absolute;
    bottom: -100px;
}
.jumping_mario>img {
    width: 70px;
    opacity: 0;
}
/* section3 mario jump anime end */

 /* section3 main container */
 .container {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* background: pink; */
}

 /* section3 tilte typing effect */
 .title_wrap {
    /* background: #9e9e9e; */
    height: 16vh;
}
.typing_txt {
    display: none;
}
.typing {
    padding-top: 10px;
    padding-left: 40px;
}
.typing ul li {
    display: block;
    font-family: 'VT323', monospace;
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}
.typing ul li.on {
    display: inline-block;
    animation: cursor 0.3s 7;
}

@keyframes cursor {
    0% {border-right: 1px solid #1e3966;}
    50% {border-right: 1px solid #fff;}
    100% {border-right: 1px solid #1e3966;}
}

/* section3 title typing effect end */

/* section3 mockup slide */
.m_slide {
    /* background: crimson; */
    float: left;
    /* padding: 20px 0; */
}
.prevBtn, .nextBtn {
    float: left;
    margin-top: 8%;
}
.prevBtn {
    /* background: purple; */
    width: 35%;
}
.prevBtn>img {
    width: 7vw;
    margin-left: 70%;
}
.nextBtn {
    /* background: purple; */
    width: 35%;
}
.nextBtn>img {
    width: 7vw;
    float: right;
    margin-right: 70%;
}
.mockup_NES {
    /* background: gold; */
    float: left;
}
.mockup_NES>img {
    display: block;
    width: 26vw;
    margin: 0 auto;
}

/* section3 mockup slide end */

  /* section3 txtbox */
  .sec_txtbox {
    /* background: lightblue; */
    padding: 1% 0;
    float: left;

}
.sec_txtbox>img {
    width: 35vw;
    display: block;
    margin: 0 auto;
}

/* section3 txtbox end */

